.rong-im{
	position: relative;
    width: 100%;
    height: 100%;
    min-width: 1200px;
    background-size: 100%;
    background-position: center;
}

.rong-conversation-box{
	height: 100%;
	width: 300px;
	min-width: 300px;
	float: left;
	position: relative;
}

.rong-conversation-list{
    height: 100%;
    overflow-y: auto;
    background: #f9f9fa;
    opacity: 0.9;
}

.rong-conversation{
	width: 100%;
    height: 60px;
    position: relative;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.rong-conversation:hover{
	background-color: #e0e8f2;
	transition: all 0.5s;
}

.rong-conversation-user{
	float: left;
}

.rong-conversation-avatar{
	margin-right: 10px;
}

.rong-conversation-title{
	font-size: 13px;
}

.rong-conversation-message{
	float: left;
	color: #999;
  width: 75%;
  margin-top: 6px;
}

.rong-conversation-sendername{
  float: left;
}

.rong-conversation-content{
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.rong-conversation-senttime{
  position: absolute;
  right: 2px;
  top: -1px;
}

.rong-main{
	height: 100%;
	margin-left: 300px;
	position: relative;
}

.rong-message-list{
	width: 100%;
	position: absolute;
	top: 10px;
	bottom: 60px;
	overflow-y: auto;
}

.rong-message{
	min-height: 40px;
	margin-top: 10px;
}

.rong-message-receiver{
}

.rong-message-receiver-avatar{
	float: left;
	margin-left: 10px;
}

.rong-message-content{
    max-width: 600px;
    min-height: 40px;
    min-width: 80px;
    word-wrap: break-word;
    display: inline-block;
    padding: 4px 5px 14px 7px;
    box-sizing: border-box;
    position: relative;
    opacity: 0.9;
    border-radius: 12px;
    margin-bottom: 10px;
}

.rong-message-senttime{
	display: inline-block;
	position: relative;
	color: #333;
}

.rong-message-receiver .rong-message-senttime{
  top: 20px;
  left: -37px
}

.rong-message-receiver .rong-message-content{
    margin-left: 18px;
    border: 1px solid #999;
}

.rong-message-receiver .rong-message-content:before,.rong-message-content:after{
	content: "";
  border-bottom: 12px solid;
  border-left: 4px solid;
  border-right: 11px solid;
  display: block;
  position: absolute;
}

.rong-message-receiver .rong-message-content:before{
  border-color: transparent #999 transparent transparent;
  left: -15px;
  top: 12px;
}

.rong-message-receiver .rong-message-content:after{
  border-color: transparent #FFF transparent transparent;
  top: 13px;
  left: -12px;
}

.rong-message-sender-avatar{
	float: right;
	margin-right: 10px;
}

.rong-message-sender .rong-message-content{
	float: right;
	margin-right: 14px;
	background-color: #cae7fd;
}

.rong-message-sender{
    display: inline-block;
    position: relative;
    width: 100%;
}

.rong-message-sender .rong-message-senttime{
    position: absolute;
    bottom: 6px;
    right: 75px;
}


.rong-message-sender .rong-message-content:after{
  border-top: 0;
  border-bottom: 18px solid;
  border-left: 11px solid;
  border-right: 12px solid;
	right: -20px;
  top: 11px;
  border-color: transparent transparent transparent #cae7fd;
}

.rong-edior-box{
  border-top: 1px solid #ececed;
	height: 60px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.rong-editor-input{
	height: 60px;
}

.rong-editor-input-content{
	box-sizing: border-box;
	padding: 10px;
  width: 100%;
  height: 60px;
	max-height: 60px;
	resize: none;
  line-height: 40px;
}