body{
    font-family:arial;
}
.get-source {
	text-decoration:none;
	background:#000;
	color:#fff;
	padding:10px 30px;
	border-radius:5px;
	position:fixed;
	right:5px;
	top:5px;
}
pre.code{
	padding:5px;
	border:1px solid #ccc;
	background:#f5f5f5;
	border-radius:3px;
	font-family:arial;
	line-height:2;
}