$black: #333;

html, body {
  width: 100%;
  height: 100%;
  color: $black;
  button {
    outline: none;
  }
}
.rong-chrm-btns {
  text-align: center;
  button {
    width: 135px;
    height: 33px;
    border: 1px solid $black;
    color: $black;
    background-color: white;
    border-radius: 4px;
    font-size: 13px;
    margin: 5px;
  }
}
.rong-chrm-dialog {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  .rong-chrm-input-box + .rong-chrm-input-box {
    margin: 12px 0;
  }
  .rong-chrm-input-box {
    font-size: 14px;
    label {
      display: inline-block;
      width: 40px;
      text-align: right;
      padding-right: 5px;
    }
    input[type="text"] {
      width: 130px;
      height: 18px;
    }
  }
  .rong-chrm-input-box + .rong-chrm-input-btn-box {
    text-align: center;
    margin-bottom: 0;
  }
  .rong-chrm-dialog-box {
    position: relative;
    display: inline-block;
    padding: 9px;
    border: 1px solid $black;
    z-index: 12;
    background-color: white;
  }
}
.rong-chrm-loading {
  .rong-chrm-loading-box {
    position: relative;
    display: inline-block;
    padding: 12px 30px;
    border: 1px solid $black;
  }
}

.rong-tip-show {
  float: left;
  width: 100%;
  li {
    position: relative;
    z-index: 11;
  }
}

.rong-tip-clear {
  float: left;
}

// .rong-tip-ws-show {
//   float: right;
//   width: 40%;
// }