@charset "utf-8";
// sass-lint:disable nesting-depth
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 10px;
}
.rong-box {
  height: 100%;
  overflow: auto;
}
h1 {
  margin-bottom: 20px;
}

.rong-hidden {
  display: none;
}

.rong-show {
  display: block;
}


.rong-login {
  .rong-input-form {
    .rong-login-input-item {
      // width: 50%;
      max-width: 678px;
    }
    .rong-input-appkey, .rong-input-targetId {
      // width: 10%;
      max-width: 140px;
    }
  }
  .rong-connect-btn-box {
    margin-left: 80px;
    button {
      margin-right: 10px;
    }
  }
}

.rong-login-formitem {
  .rong-prompt {
    display: none;
    font-size: 13px;
    margin-left: 10px;
    color: rgb(72, 72, 72);
  }
}
.rong-login-formitem:hover {
  .rong-prompt {
    display: inline;
  }
}

.rong-user-title {
  background: #f5f5f5;
  margin-bottom: 15px;
  h4 {
    padding: 15px 3px;
    display: inline-block;
    margin-right: 13px;
  }
  // button {
  //   margin-left: 13px;
  // }
}

.rong-global-opt {
  margin-bottom: 10px;
}
.rong-api-list {
  position: absolute;
  right: 50px;
  width: 120px;
  top: 30px;
  button {
    margin: 5px 0;
  }
}
.rong-api-btn {
  display: inline-block;
  margin: 5px;
}

.rong-opt-list {
  .rong-ready-box {
    margin: 5px 0;
    min-height: 40px;
  }
  // .rong-api-btn:active {
  //   .ivu-tooltip-popper {
  //     display: none;
  //   }
  // }
}
.rong-api-btn-box {
  position: relative;
  .rong-api-btn-set {
    display: none;
  }
  .rong-api-btn-run {
    background-color: #2db7f5;
    color: #fff;
  }
  .rong-api-btn-config {
    background-color: #47cb89;
    color: #fff;
  }
  // .rong-api-btn-doc {
  //   background-color: #47cb89;
  //   color: #fff;
  // }
}

.rong-api-btn-box:active {
  background-color: #fff;
  border-color: #dcdee2;
  color: #515a6e;
}
// .rong-api-btn-box:hover {
//   .rong-api-btn-name {
//     position: relative;
//     z-index: -1;
//   }
//   .rong-api-btn-set {
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     display: inline-block;
//     border: none;
//     padding: none;
//     font-size: 12px;
//     z-index: 100;
//     button {
//       width: 50%;
//       height: 100%;
//       border: none;
//       cursor: pointer;
//     }
//   }
// }

.rong-drag .rong-api-btn-box {
  .rong-api-btn-set {
    display: none;
  }
  .rong-api-btn-name {
    z-index: 10;
  }
}

.rong-tip-params {
  padding-left: 20px;
}

.rong-current-output {
  color: black;
  overflow: auto;
}

.rong-out-list {
  position: fixed;
  right: 15px;
  width: 200px;
  top: 20px;
  bottom: 25px;
  overflow-y: auto;
  overflow-x: auto;
  .rong-out-item {
    overflow-x: auto;
    p {
      text-overflow:ellipsis;
      white-space:nowrap;
    }
  }
}

.rong-parse-json-btn {
  margin-top: 5px;
}

.rong-out-list-head {
  margin-bottom: 7px;
}
.rong-json-content {
  overflow: auto;
}

.rong-api-set-item {
  .rong-api-set-name {
    font-size: 12px;
  }
}
.ivu-collapse>.rong-out-panel {
  color: #19be6b;
  .ivu-collapse-header {
    color: inherit;
  }
  .rong-out-title {
    position: absolute;
    left: 35px;
    right: 0;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.rong-api-btn-link {
  color: #ff9900;
}

.rong-prompt-box {
  button {
    margin: 5px 2px;
    font-size: 12px;
  }
  p {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.ivu-tooltip-popper {
  z-index: 500 !important;
}

.rong-out-btn-list {
  margin: 5px 0;
}

.rong-run-sel-prompt {
  margin: 20px 0 0 5px;
}

.rong-api-prompt {
  font-size: 12px;
  color: #ff9900;
  margin: -10px 0 10px 0;
}

.rong-out-list-display {
  display: inline-block;
}

.rong-user-title h4 {
  display: block;
}

.get-source {
  display: none;
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 0.6rem 1.3rem;
  border-radius: 5px;
  z-index: 10;
  font-size: 0.8rem;
  position: relative;
  margin-left: 1.4rem;
  position: relative;
  top: -0.2rem;
}
.get-source:hover {
  color: rgb(233, 233, 233);
}

@media (min-width: 780px) {
  .rong-opt-list {
    padding-right: 300px;
  }
  .rong-out-list {
    width: 300px;
  }
  .rong-user-title h4 {
    display: inline-block;
  }
  .rong-out-list-display {
    display: none;
  }
  .rong-out-list-content {
    display: block !important;
  }
  .get-source {
    display: inline-block;
  }
}

.rong-run-info {
  position: absolute;
  left: 400px;
  top: 12px;
  color: red;
}

.rong-msg-expansion {
  position: absolute;
  width: 300px;
  background: #f7f7f7;
  box-shadow: 1px 1px 5px #00000069;
  z-index: 100;
  left: 40%;
  border-radius: 2px;
  padding-bottom: 10px;
  .rong-ex-title {
    text-align: center;
  }
  .rong-ex-input {
    padding: 10px;
  }
  .rong-expansion-content {
    height: 450px;
    overflow: auto;
    padding: 10px
  }
  .rong-ex-join {
    text-align: center;
    width: 100%;
  }
  .rong-ex-opt {
    text-align: left;
    width: 100%;
    padding: 10px;
  }
}