html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 10px; }

.rong-box {
  height: 100%;
  overflow: auto; }

h1 {
  margin-bottom: 20px; }

.rong-hidden {
  display: none; }

.rong-show {
  display: block; }

.rong-login .rong-input-form .rong-login-input-item {
  max-width: 678px; }
.rong-login .rong-input-form .rong-input-appkey, .rong-login .rong-input-form .rong-input-targetId {
  max-width: 140px; }
.rong-login .rong-connect-btn-box {
  margin-left: 80px; }
  .rong-login .rong-connect-btn-box button {
    margin-right: 10px; }

.rong-login-formitem .rong-prompt {
  display: none;
  font-size: 13px;
  margin-left: 10px;
  color: #484848; }

.rong-login-formitem:hover .rong-prompt {
  display: inline; }

.rong-user-title {
  background: #f5f5f5;
  margin-bottom: 15px; }
  .rong-user-title h4 {
    padding: 15px 3px;
    display: inline-block;
    margin-right: 13px; }

.rong-global-opt {
  margin-bottom: 10px; }

.rong-api-list {
  position: absolute;
  right: 50px;
  width: 120px;
  top: 30px; }
  .rong-api-list button {
    margin: 5px 0; }

.rong-api-btn {
  display: inline-block;
  margin: 5px; }

.rong-opt-list .rong-ready-box {
  margin: 5px 0;
  min-height: 40px; }

.rong-api-btn-box {
  position: relative; }
  .rong-api-btn-box .rong-api-btn-set {
    display: none; }
  .rong-api-btn-box .rong-api-btn-run {
    background-color: #2db7f5;
    color: #fff; }
  .rong-api-btn-box .rong-api-btn-config {
    background-color: #47cb89;
    color: #fff; }

.rong-api-btn-box:active {
  background-color: #fff;
  border-color: #dcdee2;
  color: #515a6e; }

.rong-drag .rong-api-btn-box .rong-api-btn-set {
  display: none; }
.rong-drag .rong-api-btn-box .rong-api-btn-name {
  z-index: 10; }

.rong-tip-params {
  padding-left: 20px; }

.rong-current-output {
  color: black;
  overflow: auto; }

.rong-out-list {
  position: fixed;
  right: 15px;
  width: 200px;
  top: 20px;
  bottom: 25px;
  overflow-y: auto;
  overflow-x: auto; }
  .rong-out-list .rong-out-item {
    overflow-x: auto; }
    .rong-out-list .rong-out-item p {
      text-overflow: ellipsis;
      white-space: nowrap; }

.rong-parse-json-btn {
  margin-top: 5px; }

.rong-out-list-head {
  margin-bottom: 7px; }

.rong-json-content {
  overflow: auto; }

.rong-api-set-item .rong-api-set-name {
  font-size: 12px; }

.ivu-collapse > .rong-out-panel {
  color: #19be6b; }
  .ivu-collapse > .rong-out-panel .ivu-collapse-header {
    color: inherit; }
  .ivu-collapse > .rong-out-panel .rong-out-title {
    position: absolute;
    left: 35px;
    right: 0;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.rong-api-btn-link {
  color: #ff9900; }

.rong-prompt-box button {
  margin: 5px 2px;
  font-size: 12px; }
.rong-prompt-box p {
  white-space: pre-wrap;
  word-break: break-all; }

.ivu-tooltip-popper {
  z-index: 500 !important; }

.rong-out-btn-list {
  margin: 5px 0; }

.rong-run-sel-prompt {
  margin: 20px 0 0 5px; }

.rong-api-prompt {
  font-size: 12px;
  color: #ff9900;
  margin: -10px 0 10px 0; }

.rong-out-list-display {
  display: inline-block; }

.rong-user-title h4 {
  display: block; }

.get-source {
  display: none;
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 0.6rem 1.3rem;
  border-radius: 5px;
  z-index: 10;
  font-size: 0.8rem;
  position: relative;
  margin-left: 1.4rem;
  position: relative;
  top: -0.2rem; }

.get-source:hover {
  color: #e9e9e9; }

@media (min-width: 780px) {
  .rong-opt-list {
    padding-right: 300px; }

  .rong-out-list {
    width: 300px; }

  .rong-user-title h4 {
    display: inline-block; }

  .rong-out-list-display {
    display: none; }

  .rong-out-list-content {
    display: block !important; }

  .get-source {
    display: inline-block; } }

/*# sourceMappingURL=main.css.map */
