@charset "UTF-8";
/* 超出部分省略 */
.ellipsis, .rong-dialog-box .rong-dialog-user-list-content span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.rong-main {
  width: 100%;
  height: 100%;
}

.rong-box {
  width: 100%;
  height: 100%;
}

.rong-login-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rong-login-inner p {
  text-align: center;
  font-size: 20px;
}

.rong-login-inner input {
  width: 280px;
  height: 44px;
  border: none;
  border-radius: 10px;
  display: block;
  box-sizing: border-box;
  margin: 17px;
  padding: 0 15px;
  font-size: 14px;
  outline: none;
}

.rong-login-inner input[type="text"] {
  border: 1px solid #ddd;
}

.rong-login-inner input[type="button"] {
  background-color: #0888ff;
  color: white;
}

.rong-info {
  position: absolute;
  top: 10px;
  left: 30px;
  text-align: left;
  color: white;
  z-index: 20;
}

.rong-info p {
  font-size: 15px;
}

.rong-call-box {
  background-color: #333;
}

.rong-call-box .rong-call-btns {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 32;
}

.rong-call-box .rong-call-btns button {
  width: 55px;
  height: 55px;
  margin: 0 8px;
  border-radius: 50%;
  background-image: url("../img/icons.svg");
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.87);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.rong-call-box .rong-call-btns button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.rong-call-box .rong-call-btns .rong-call-hungup {
  background-position: -66px 15px;
  background-color: #ef5350;
}

.rong-call-box .rong-call-btns button.rong-call-hungup:hover {
  background-color: #EF5360;
}

.rong-call-box .rong-call-btns .rong-call-accept {
  background-color: #008700;
  background-position: 14px 15px;
}

.rong-call-box .rong-call-btns .rong-call-accept:hover {
  background-color: #00a000;
}

.rong-call-box .rong-call-btns .rong-call-mute {
  background-position: 15px -154px;
  background-size: 112px;
}

.rong-call-box .rong-call-btns .rong-call-mute[closed] {
  background-position: -68px -154px;
}

.rong-call-box .rong-call-btns .rong-call-video {
  background-position: 12px -30px;
  background-size: 102px;
}

.rong-call-box .rong-call-btns .rong-call-video[closed] {
  background-position: -61px -30px;
  background-size: 102px;
}

.rong-call-box .rong-call-btns .rong-call-audio {
  background-position: 17px -93px;
  background-size: 111px;
}

.rong-call-box .rong-call-btns .rong-call-invite {
  background-position: 13px -310px;
}

.rong-type-box {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  z-index: 30;
}

.rong-video-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rong-video-box .rong-video-list {
  width: calc(100% - 200px);
  height: 150px;
  position: absolute;
  right: 0;
  z-index: 10;
  margin-top: 10px;
}

.rong-video-box .rong-video-list .rong-video-min {
  display: inline-block;
  width: 190px;
  height: 100%;
  position: relative;
  margin: 0 15px;
  border: 1px solid white;
}

.rong-video-box .rong-video-list video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.rong-video-box .rong-video-max {
  width: 100%;
  height: 100%;
  position: absolute;
}

.rong-video-box .rong-video-max video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.rong-video-box .rong-video-max[talktype="0"], .rong-video-box .rong-video-min[talktype="0"] {
  background-color: black;
}

.rong-video-box .rong-video-max[talktype="0"] video, .rong-video-box .rong-video-min[talktype="0"] video {
  display: none;
}

.rong-video-box .rong-video-max[talktype="0"]::before, .rong-video-box .rong-video-min[talktype="0"]::before {
  content: '摄像头已关闭';
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rong-video-box .rong-video-min[talktype="0"]::before {
  font-size: 15px;
}

.rong-dialog-box {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 500;
  color: #333;
}

.rong-dialog-box .rong-dialog-user-list {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 45px;
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 12px 20px;
  z-index: 12;
  font-weight: 400;
  width: 252px;
}

.rong-dialog-box .rong-dialog-user-list h3 {
  margin: 0;
  font-size: 15px;
}

.rong-dialog-box .rong-dialog-user-list-content {
  margin: 15px 0;
}

.rong-dialog-box .rong-dialog-user-list-content .rong-dialog-user {
  display: inline-block;
  width: 50%;
  margin: 4px 0;
  line-height: 1;
}

.rong-dialog-box .rong-dialog-user-list-content i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #B2B2B2;
  background-color: white;
  margin-right: 1px;
  vertical-align: middle;
  background-image: url(../img/icons.svg);
}

.rong-dialog-box .rong-dialog-user-list-content i.rong-user-selected {
  background-color: transparent;
  background-position: 0px -115px;
  background-size: 54px;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.rong-dialog-box .rong-dialog-user-list-content span {
  font-size: 12px;
  color: #585858;
  vertical-align: middle;
  max-width: 96px;
  display: inline-block;
}

.rong-dialog-box .rong-confirm-btns {
  text-align: right;
}

.rong-dialog-box .rong-confirm-btns button {
  padding: 0 8px;
  height: 23px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 3px;
  outline: none;
}

.rong-dialog-box .rong-confirm-btns .rong-confirm-ok[disabled] {
  opacity: 0.6;
}

.rong-dialog-box .rong-confirm-btns .rong-confirm-ok, .rong-dialog-box .rong-confirm-btns .rong-confirm-cancel {
  background-color: #f9f9f9;
  border: 1px solid #979797;
}

.rong-dialog-toast {
  position: fixed;
  text-align: center;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 12px 50px;
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
  padding: 7px 35px;
  z-index: 31;
  font-weight: 400;
}

.rong-dialog-toast .rong-dialog-toast-content {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
