 html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  z-index: -3;
} 
.rong-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #333;
  z-index: -2;
}

.rong-max-window{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.rong-max-window video{
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0 auto;
  display: block;
}

.rong-min-window{
  float:left;
  margin-left: 30px;
  margin-top: 10px;
  width: 200px;
  height: 150px;
  border: 2px solid #FFF;
  cursor: pointer;
}

.rong-min-window video{
  height: 100%;
}

.rong-toolbar{
  position: absolute;
  bottom: 50px;
  left: 40%;
}

.rong-toolbar button{
  border-radius: 47%;
  padding: 7px;
  margin-left: 20px;
  float: left;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  font-family:"iconfont";
  font-size:28px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; 
  display: none;
}

.rong-toolbar-operation{
    display: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 698950 */
  src: url('//at.alicdn.com/t/font_698950_0qhfkfwxt2xfxbt9.eot');
  src: url('//at.alicdn.com/t/font_698950_0qhfkfwxt2xfxbt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_698950_0qhfkfwxt2xfxbt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_698950_0qhfkfwxt2xfxbt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_698950_0qhfkfwxt2xfxbt9.svg#iconfont') format('svg');
}

button.rong-callvideo, button.rong-callaudio{
  display: block;
}
.rong-callvideo:before{
  content: "\e895";
}
.rong-callaudio:before{
  content: "\e608";
}

button.rong-accept{
  padding: 8px 4px 8px 7px;
}
.rong-accept:before{
  content: "\e606";
  color: green;
}

.rong-hungup:before{
  content: "\e64e";
  color: red;
}

.rong-mute:before{
  content: "\e610";
}
.rong-unmute:before{
  content: "\e684";
}
.rong-disable-video:before{
  content: "\e6a1";
  color: red;
}

.rong-disable-audio:before{
  content: "\e895";
  color: green;
}

.rong-warns{
  width: 400px;
  height: 200px;
  position: absolute;
  right: 0;
  font-style: italic;
  border: 2px solid #FFF;
  color: #FFF;
  padding-left: 10px;
  box-sizing: border-box;
}

.rong-warns li{
  list-style: none;
  line-height: 26px;
}