html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
input{
  outline: none;
}
.rong-components{
}
.rong-component{
  text-align: center;
}