.rong-main{
  margin: 0 auto;
  width: 80%;
  height: 80%;
  margin-top: 5%;
  position: relative;
  display: none;
  min-width: 1030px;
}

.rong-main-item{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.rong-login{
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
  background-image: url('./icon/background.png');
  background-size: cover;
}

.rong-login-button{
  width: 100%;
  height: 42px;
  margin: 16px auto;
  border-radius: 10px;
  border-style: none;
  font-size: 15px;
  text-align: center;
}

.rong-login-main{
  width: 360px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.rong-login-box {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.rong-login-logo{
  background-image: url(./icon/logo.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 90px;
  width: 90px;
  background-size: cover;
}

.rong-login-main span{
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #33CCFF;
}

.rong-login-title{
  margin-top: 30px;
}
.rong-login-title p {
  font-size: 30px;
  color: white;
  margin: 10px 0 18px 0;
}

.rong-login-roomid input{
  color: #999; 
}

.rong-login-join input{
  background: #3A83F5;
  color: #FFFFFF;
  cursor: pointer;
}

.rong-footer{
  position: absolute;
  bottom: 0;
  background-color: #dee0e2;
  width: 100%;
  height: 65px;
}
.rong-footer-blocks{
  width: 600px;
  margin: 0 auto;
}
.rong-footer-block{
  display: inline-block;
  margin-top: 25px;
  width: 29%;
  text-align: center;
}

.rong-install-plugins{
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color:rgb(250, 250, 250);
  position: absolute;
  box-shadow: 10px 10px 5px #3A83F5;
  display: none;
  position: absolute;
  z-index: 10;
  padding: 0 150px;
  box-sizing: border-box;
  min-width: 1078px;
}
.rong-install-step-title {
    background-color: rgb(194, 215, 248);
    padding-left: 10px;
    padding: 5px 0 5px 10px;
    color: rgb(92, 92, 92);
    font-size: 13px;
}

.rong-step-button {
  display: inline-block;
  width: 250px;
  height: 37px;
  line-height: 37px;
  background-color: rgb(66, 133, 244);
  color: white;
  text-align: center;
  border-radius: 2px;
  font-size: 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.rong-step-download {
  margin: 19px 0 0 18px;
}

.rong-step-jump {
  margin: 5px 0 0 18px;
}

.rong-step-jump:disabled {
  background-color: rgb(194, 215, 248);
}

.rong-step-download-desc {
    font-size: 12px;
    color: rgb(111, 111, 111);
    margin: 14px 45px 0 18px;
}

.rong-step-graphic {
  width: 237px;
  height: 102px;
  background-size: cover;
  margin-left: 22px;
}
.rong-step-open {
  background-image: url(./icon/open.png);
}

.rong-step-drag {
  background-image: url(./icon/drag.png);
}

.rong-step-success {
  background-image: url(./icon/install-success.png);
}

.rong-steps{
  width: 100%;
}

.rong-steps li {
  float: left;
  width: 325px;
  height: 200px;
}
.rong-steps a{
  color: #FFF;
}

.rong-step{
  line-height: 50px;
  padding: 10px;
  font-size: 20px;
}

/* .rong-step-jump{
  float: right;
} */
.rong-button-jump{
  cursor: pointer;
  color: #3A83F5;
  height: 35px;
  width: 120px;
}

.rong-plugin-prompt {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgb(0, 0, 0, 0.4);
  z-index: 9;
}

.rong-plugin-prompt p {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  line-height: 75px;
  background-color: white;
  border-radius: 2px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 1270px) {
    .rong-steps li {
      margin-right: 90px;
    }
}

@media screen and (max-width: 1132px) {
    .rong-steps li {
      margin-right: 30px;
    }
}