<script id="rcs-templte-button" type="rcs/templte">
	<!--#include file="button.html"-->
</script>

<script id="rcs-templte-main" type="rcs/templte">
	<!--#include file="main.html"-->
</script>

<script id="rcs-templte-conversation" type="rcs/templte">
	<!--#include file="conversation.html"-->
</script>

<script id="rcs-templte-chat" type="rcs/templte">
	<!--#include file="chat.html"-->
</script>

<script id="rcs-templte-message" type="rcs/templte">
	<!--#include file="message.html"-->
</script>

<script id="rcs-templte-message-template" type="rcs/templte">
	<!--#include file="messageTemplate.html"-->
</script>


<script id="rcs-templte-closebefore" type="rcs/templte">
	<!--#include file="closebefore.html"-->
</script>

<script id="rcs-templte-endconversation" type="rcs/templte">
	<!--#include file="endconversation.html"-->
</script>

<script id="rcs-templte-evaluate" type="rcs/templte">
	<!--#include file="evaluate.html"-->
</script>

<script id="rcs-templte-leaveword" type="rcs/templte">
	<!--#include file="leaveword.html"-->
</script>

<script id="rcs-templte-imageView" type="rcs/templte">
	<!--#include file="imageView.html"-->
</script>

<script id="rcs-templte-userInfo" type="rcs/templte">
	<!--#include file="userInfo.html"-->
</script>